html {
  background-color: #282C33;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  align-items: flex-start;
  display: flex;
  font-family: 'Fira Code', monospace;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  margin: auto;
  width: 70%;
}

span {
  color: #96EB95;
}

header {
  font-size: xx-large;
  width: 100%;
}

main {
  background: rgba(255, 255, 255, 0.06);
  border-radius: 20px;
  display: none;
  flex-wrap: wrap;
  max-height: 300px;
  overflow-y: scroll;
  width: 100%; 
}

article {
  align-items: flex-start;
}

h1 {
  margin-bottom: 0;
}

label {
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 5px;
  padding: 5px 10px;
}

input {
  color: #96EB95 ;
  border: none;
  background-color: transparent;
  font-weight: 700;
}

input:focus {
  outline: 0;
  border: none;
}

button {
  cursor: pointer;
  color: rgb(32, 32, 32);
  background-color: #96EB95;
  border: none;
  border-radius: 5px;
  font-family: 'Fira Code', monospace;
  padding: 7px 20px;
  margin-left: 10px;
}

button:active {
  padding: 6.9px 19.5px;
}

#referencia {
  display: none;
  margin-left: 5px;
  margin-bottom: 15px;
}

#referenciaspan {
  margin-left: 5px;
  color: #96EB95;
}

main::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

main::-webkit-scrollbar-track {
  border-radius: 0 10px 10px 0;
  background: #2f3135;       /* color of the tracking area */
}

main::-webkit-scrollbar-thumb {
  background-color: #96EB95; /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #282C33;  /* creates padding around scroll thumb */
}

b {
  color: #96EB95;
}

#searchBox {
  display: block;
}

@media (min-width:0px) and (max-width:600px) {
  body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100vh;
  }
  main {
    justify-content: center;
  }

  #searchBox {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  header{
    text-align: center;
  }

  article {
    width: 80%;
  }

  button {
    height: 50px;
    margin-left: 0;
    margin-top: 15px;
  }

  label {
    padding: 10px 20px;
  }

  h1 {
    margin-top: 10px;
  }

}